@import '../lib/node_modules/bootstrap/scss/bootstrap.scss';
@import 'css-star-rating';
@import 'simple-star';

.isHidden
{
	display: none;
}

.movie-poster img {
	max-width: 100%;
}

#signinBackground {
	background : #bad;
	width: 100%;
	height: 100vh;
}

#auth-btn {
	align: center;
}

.container {
	width: 100%;
}

.filterBar {
	div {
		padding: 0;
		button {
			width: 100%;
		}
	}
}
