<section class="movie-poster">
	<img src="https://image.tmdb.org/t/p/w500{{poster_path}}">
</section>
<date>{{year release_date}}</date>
{{!-- <p class="movie-overview">{{overview}}</p> --}}
<section class="cast">
	<ul>
	{{#each actors}}
		<li>{{this}}</li>
	{{/each}}
	</ul>
</section>