<section class="movie-poster">
	<img src="https://image.tmdb.org/t/p/w500{{poster_path}}">
</section>
<date>{{year}}</date>
<section class="cast">
	<ul>
		{{#each actors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
</section>