	{{#each movies}}
		<div class="savedCard col-sm-4 movieCard" id="movie{{id}}" data-rating="{{rating}}">
			<div class="cardHeader">
				<h2>{{title}}</h2>
				<button class="deleteCardBtn">X</button>
			</div>
			<div class="movieInfo">
				{{> movieInfoPartial }}
				{{!-- movie info partial goes here --}}
			</div>
			<div class="rating"><span id="star1">☆</span><span id="star2">☆</span><span id="star3">☆</span><span id="star4">☆</span><span id="star5">☆</span><span id="star6">☆</span><span id="star7">☆</span><span id="star8">☆</span><span id="star9">☆</span><span id="star10">☆</span></div>
		</div>
	{{/each}}