	{{#each movies}}
		<div class="movieCard col-sm-4 searchResult" id="searchedMovie{{id}}">
			<div class="cardHeader">
				<h2>{{title}}</h2>
			</div>
			<div class="movieInfo">
				{{> movieInfoPartial }}
				{{!-- movie info partial goes here --}}
			</div>
			<div>
				<a href="#" class="saveMovieLink {{id}}" data-save-id="{{uid}}">Add to Watchlist</a>
			</div>
		</div>
	{{/each}}